# Python
__pycache__/
*.py[cod]
*$py.class

# Virtualenv
.venv/
venv/
ENV/

# Build artifacts
build/
dist/
*.spec

# Logs / caches
*.log
.cache/

# OS / IDE
.DS_Store
Thumbs.db
.vscode/
.idea/

# Local files
*.tmp
